.diagram {
  height: 200px;
  cursor: pointer;
  overflow: visible;
}

/* let all clicks on svg children go to the svg! */
svg > * {
  pointer-events: none;
}

.centre-circle.desktop {
  transform-origin: 50% 50%;
  animation: pulsate 4s ease infinite;
}

.centre-circle.mobile {
  transform-origin: 188.38px 251.97px;
  animation: pulsate 4s ease infinite;
}

.legend-svg {
  cursor: pointer;
}


@-webkit-keyframes pulsate {
  0%   { transform: scale(1); }
  10%  { transform: scale(1.2); }
  20%   { transform: scale(1); }
  30%  { transform: scale(1.2); }
  40%   { transform: scale(1); }
  50%  { transform: scale(1.2); }
  60%  { transform: scale(1); }
  100% { transform: scale(1); }
}
@-moz-keyframes pulsate {
  0%   { transform: scale(1); }
  10%  { transform: scale(1.2); }
  20%   { transform: scale(1); }
  30%  { transform: scale(1.2); }
  40%   { transform: scale(1); }
  50%  { transform: scale(1.2); }
  60%  { transform: scale(1); }
  100% { transform: scale(1); }
}
@-o-keyframes pulsate {
  0%   { transform: scale(1); }
  10%  { transform: scale(1.2); }
  20%   { transform: scale(1); }
  30%  { transform: scale(1.2); }
  40%   { transform: scale(1); }
  50%  { transform: scale(1.2); }
  60%  { transform: scale(1); }
  100% { transform: scale(1); }
}
@keyframes pulsate {
  0%   { transform: scale(1); }
  10%  { transform: scale(1.2); }
  20%   { transform: scale(1); }
  30%  { transform: scale(1.2); }
  40%   { transform: scale(1); }
  50%  { transform: scale(1.2); }
  60%  { transform: scale(1); }
  100% { transform: scale(1); }
}
