body {
  /*background-color: black;*/
  margin: 0;
}

.intro {
height: 100vh;
background-color: black;
opacity: 0.7;
  }

  .grid {
    width: 100vh;
    display: flex;
    flex-flow: row wrap;
}

.grid-element {
  width: 200px;
  height: 200px;
  background-color: green;
}
