* {
  margin:0;
  box-sizing: border-box;
}

body {
  background-color: black;
  overflow-x: hidden;
}

.intro {
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.7;
  padding: 100px;
  position: absolute;
}

.legend {
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  max-width: 1000px;
}

.mobile {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

.desktop {
  display: none;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 30px;
}

.grid {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-top: 300px;
}

.grid-element {
  width: 200px;
  height: 330px;
  margin: 50px;
}

.grid-element.showdata > .country {
  display: none;
}


.grid-element.showdata > .origin {
  display: flex;
}

.footer {
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 20px 30px 0px 30px;
  background-color: #2B2B2B;
}



/* 3 columns */
@media only screen and (min-width: 650px) {
  .grid {
    width: 600px;
  }
}

/* 3 columns */
@media only screen and (min-width: 950px) {
  .grid {
    width: 900px;
  }
  .desktop {
  display: block;
  }
  .mobile {
  display: none;
  }
}

/* 4 columns */
@media only screen and (min-width: 1250px) {
  .grid {
    width: 1200px;
  }
}

/* 5 columns */
@media only screen and (min-width: 1550px) {
  .grid {
    width: 1500px;
  }
}
