* {
  margin:0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  overflow-x: hidden;
}

/* intro and legend */
.intro {
  margin: 0 auto;
  padding: 75px 29px 10px 29px;
}

@media only screen and (min-width: 1023px) {
  .intro {
    padding: 100px 29px 10px 29px;
  }
}

.legend {
  margin: 0 auto;
  width: 100vw;
  max-width: 1000px;
}

/* responsive legends */
.mobile {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
}

.desktop {
  display: none;
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 30px;
}

@media only screen and (min-width: 760px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
/* make intro in 2 columns */
  .intro {
    display: flex;
    justify-content: space-evenly;
    -webkit-flex-direction: row;
  }

  .intro > p {
    padding-top: 20px;
  }
}

/* grid */
.grid {
  width: 300px;
  margin: 400px auto 5rem auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.grid-element {
  width: 200px;
  height: 330px;
  margin: 50px;
}

/* interaction */
.showdata .country {
  display: none;
}

.showdata .origin {
  display: flex;
}

.showdata .origin-container {
  display: flex;
}

/* footer*/
.footer {
  display: flex;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  justify-content: space-evenly;
  padding: 2.5rem;
  border-top: 0.5px solid #8D8D8D;
}

.footer > div:first-child {
  margin: 0 0 1.5rem 0;
}

@media only screen and (min-width: 800px) {
  .footer {
    flex-direction: row;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    align-items: center;
  }

  .footer > div:first-child {
    margin: 0 0 0 0;
  }
}


/* media queries */

/* 3 columns */
@media only screen and (min-width: 650px) {
  .grid {
    width: 600px;
  }
  .intro {
    margin:
  }
}

/* 3 columns */
@media only screen and (min-width: 950px) {
  .grid, .intro {
    width: 900px;
  }
}

/* 4 columns */
@media only screen and (min-width: 1250px) {
  .grid {
    width: 1200px;
  }

  .intro {
    margin
  }
}

/* 5 columns */
@media only screen and (min-width: 1550px) {
  .grid {
    width: 1500px;
  }
}
