/* font embedding */
@font-face {
  font-family: 'Baton';
  src: url('../assets/fonts/BatonTurboWeb-Regular.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/BatonTurboWeb-Regular.woff') format('woff'); /* Pretty Modern Browsers */
}

html {
  font-family: 'Baton', sans-serif;
  font-feature-settings: "onum";
}


/* general styles */
h1 {
  color: white;
  font-size: 50px;
  text-transform: uppercase;
}

h3 {
  font-size: 16px;
  color: white;
  letter-spacing: 0.3px;
}

p {
  font-size: 14px;
  color: white;
}

.intro > p {
  max-width: 24rem;
}

a {
  text-decoration: none;
  color: #9D9D9C;
}

a:hover {
  color: #00FF88;
}

/* classes */
.hint {
  font-size: 14px;
  background-color: #252424;
  color: white;
  width: 190px;
  height: 60px;
  padding: 10px 0px 0px 10px;
  border-radius: 10px;
}

.country {
  display: block;
  text-align: center;
  padding-top: 10px;
  user-select: none;
}

.origin {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  max-width: 200px;
  margin: 0 auto;
}

.country .grey {
  padding-top: 9px;
}
.box {
  width: 95px;
}

.left { text-align: right; }
.right { text-align: left; }



.comment {
  font-size: 12px;
  color: #9D9D9C;
  padding-top: 5px;
}


/* letter spacing */
.tab {
  display: inline-block;
}

.tab.single {
  width: 12px;
}

.tab.double {
  width: 18px;
}

.gap {
  color: #222;
}

.gap.s {
  font-size: 14px;
}

.gap.xs {
  font-size: 7px;
}

/* colours */
.middle-east { color: #FF0077; }
.southeast-asia { color: #00FFC8; }
.europe { color: #00FF88; }
.stateless { color: #DADADA; }
.africa { color: #FFBD00; }
.america { color: #00C3FF; }

.grey { color: #9D9D9C !important; }
.white { color: white; }
